<style>
    .card {
        background-color: red;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .card-description {
        font-size: 16px;
        color: #1c0ae3;
        margin-bottom: 16px;
    }
</style>
<link rel="stylesheet" href="st_fuzzy_match/components/card/styles.css" type="text/css">
<div class="card">
  <div class="card-corner">
    <p class="card-text">99</p>
  </div>
  <div class="card-header">
    <h5 class="card-title"></h5>
    <p class="card-description"></p>
    <p class="card-contents"></p>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-description">Elizabeth Truss</p>
    <p class="card-contents">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer">
    <h5 class="card-title"></h5>
    <p class="card-description">Other possible matches:</p>
    <p class="card-contents">92: Lizzy Truss</p>
  </div>
</div>